<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>React App</title>
    <script src="https://unpkg.com/react@17/umd/react.development.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" crossorigin></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>

<div>
<h1>일해라 또히</h1>
    <img src="https://avatars.githubusercontent.com/u/179611159?s=400&u=0e426646f29ce7e6b1e8108031fc0f529b89bb5e&v=4">
</div>


    <div id="welcomediv"></div>

<!--    <script type="text/babel" src="path/to/your/react-entry.js"></script>-->
    <script type="text/babel" src="index.js"></script>
</body>
</html>